@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
}
body{
    margin: 0.0;
    padding:0;
}


header{
    margin-bottom: 2em;
}

section{
    margin: 0 2em 2em 2em;
}

.command{
    font-family: Inconsolata;
    font-weight: bold;
    color: rgb(116, 3, 116);
    background: rgba(211, 211, 211, 0.589);
    padding: 0 0.7%;
    display: inline;
}



footer, header{
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    background: #f1f3f4;
}

h2, h3{
    margin: 0.7em 0;
}

h2, h3{
    font-weight: lighter;
}

ol{
    margin-left: 3em;
}

p{
    margin-bottom: 0.2em;
}


img{
    width: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-container{
    display: flex;
    justify-content: space-around;
}

